<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <!-- Crate 数据源 -->
    <bean id="crateDataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="driverClassName" value="io.crate.client.jdbc.CrateDriver"/>
        <property name="url" value="${crate.url}"/>
        <property name="username" value="${crate.username}"/>
        <property name="password" value="${crate.password}"/>
        <property name="initialSize" value="${crate.initialPoolSize}"/>
        <property name="minIdle" value="${crate.minPoolSize}"/>
        <property name="maxActive" value="${crate.maxPoolSize}"/>
        <property name="maxIdle" value="${crate.maxIdel}"/>
    </bean>

    <!-- MyBatis Crate SqlSessionFactory -->
    <bean id="crateSqlSessionFactory" name="crateSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="crateDataSource"/>
        <property name="mapperLocations" value="classpath:mapper/crate/*.xml"/>
        <property name="configLocation" value="classpath:mybatis-crate-config.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="test.crate.dao"/>
        <property name="sqlSessionFactoryBeanName" value="crateSqlSessionFactory"/>
    </bean>

</beans>